@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navigation.p-menubar.p-component {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    color: #000000;
    border-radius: 0;
}
.footer_wap {
  background: url('/images/footer_bg.png');
}
.custom_InputText.p-inputtext.p-component {
    border: 1px solid #C4C4C4;
    background: #fff;
    border-radius: 50px;
    width: 400px;
}